body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    position: relative;

}

input, button, li {

    all: unset;

}

.container_xl {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(170deg, rgba(28,38,64,1) 45%, rgba(0,0,0,1) 80%);

}


/* ----------------- SCROLL ----------------- */

*::-webkit-scrollbar {

    width: 2px;

}
   
*::-webkit-scrollbar-track {

    background-color: rgba(25, 25, 25, .8);
    border-radius: 1em;

}
   
*::-webkit-scrollbar-thumb {

    background-color: rgb(0, 110, 220);
    border-radius: 1em;

}

/* -------------------------------------------- */

.controle_alinhamento {

    display: flex;
    gap: 2.5rem;

}

.caixa_principal, .caixa_lista {

    background-color: rgb(255, 255, 255);
    padding: 1.6rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 40px 0 rgba(255, 255, 255, .25);
    min-height: max-content;

}

.caixa_principal h1 {

    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(25, 25, 25);
    margin: 0;
    margin-bottom: 1.5rem;

}

.bloco_inputs {

    display: flex;
    flex-direction: column;
    gap: .9rem;
    height: max-content;

}

.estilo_padrao_input {

    display: flex;
    flex-direction: column;
    gap: 2px;

}

.estilo_padrao_input label, .estilo_padrao_select sub {

    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(20, 20, 20);
    margin-bottom: 2px;

}

.estilo_padrao_input input {

    display: flex;
    align-items: center;
    border: 1px solid rgb(20, 20, 20);
    min-height: 2rem;
    padding: 0 .5rem;

}

.bloco_en {

    display: flex;
    gap: .5rem;
    width: 100%;

}

.bloco_en .estilo_padrao_input:first-child {

    width: 75%;

}

.bloco_en .estilo_padrao_input:nth-child(2) {

    width: 25%;

}

.estilo_padrao_select {

    position: relative;
    user-select: none;

}

.estilo_padrao_select .bloco_select {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(20, 20, 20);
    padding: .4rem .6rem;
    margin-top: 3px;
    max-width: 50%;
    cursor: pointer;
    position: relative;

}

.estilo_padrao_select span {

    color: rgba(20, 20, 20, .8);
    font-weight: 500;

}

button {

    user-select: none;

}

.itens_select {

    visibility: hidden;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(20, 20, 20, .4);
    box-shadow: 0 0 20px rgba(255, 255, 255, .2);
    list-style-type: none;
    margin: 0;
    padding: .5rem 0 .5rem .6rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.itens_select li {

    font-weight: 500;
    cursor: pointer;
    transition: color .45s;

}

.itens_select li:hover {

    color: rgb(160, 52, 255);
    text-decoration: underline;

}

.caixa_lista .estilo_btn {

    margin-top: 0;
    margin-bottom: 2rem;

}

.estilo_btn {

    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    width: 100%;

}

.estilo_btn button {

    padding: .45rem 1.65rem;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(20, 20, 20);
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    font-size: .92rem;
    font-weight: 600;
    letter-spacing: .5px;
    cursor: pointer;
    transition: all .45s;

}

.estilo_btn button:hover {

    background-color: transparent;
    color: rgb(20, 20, 20);

}

ul {

    margin: 0;
    padding: 0;

}

.linha_itens li {

    padding: 0 2px;

}

.titulos_colunas {

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(20, 20, 20, .25);
    padding: 0 6px .5rem 3px !important;
    margin-bottom: 1.2rem;
        
}

.titulos_colunas span {

    font-size: 1.1rem;
    font-weight: 500;
        
}

.bloco_lista {

    min-width: 50rem;
        
}

.linha_itens {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.linha_itens sup {

    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;

}

.linha_itens .acoes {

    display: flex;
    align-items: center;
    gap: .45rem;

}

.linha_itens .acoes svg {

    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform .45s;

}

.linha_itens .acoes svg:hover {

    transform: scale(.85);

}

.linha_itens .acoes svg:last-child {
    
    margin-top: 2px;

}

.linha_itens .acoes #btn_editar svg path {

    stroke: rgb(0, 110, 220);

}

.linha_itens .acoes #btn_excluir svg path {

    stroke: rgb(0, 0, 0);

}

.linha_itens sup:nth-child(1) {

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    max-width: 92px;

}

.linha_itens sup:nth-child(3) {

    padding-left: 2.05rem;

}

.plista_principal {

    display: grid;
    gap: 1rem;
    overflow-x: auto;
    padding: 0 5px;
    max-height: 31.82rem;

}

.plista_principal li {

    animation: fade-in .35s ease-in;

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }100% {
        opacity: 1;
    }
}